
<app-toolbar (toggleSidenav)="toggleSidenav($event)"></app-toolbar>
<mat-sidenav-container>
  <mat-sidenav [opened]="isOpen" mode="side" class="mat-sidenav" #sidenav>
    <mat-nav-list [disableRipple]="true">
      <mat-list-item
        (click)="loadUserList()"
        style="
          width: 15vw;
          display: flex;
          flex-direction: row;
          justify-content: center;
        "
      >
        <div>
          <mat-icon style="margin-right: 10px">
            <span class="material-symbols-outlined"> person </span>
          </mat-icon>
        </div>
        <div>
          <button disableRipple mat-icon-button>
            Users
          </button>
        </div>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content style="display: flex; justify-content: center;">
    <div class="wrapper-userList">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
